@use 'partials/mixin';

img {
    &.grayscale {
        animation-name: grayscale;
        @include mixin.vendor('animation-name', grayscale);
        @keyframes grayscale {
            50% {
                filter: grayscale(100%);
                @include mixin.vendor('filter', grayscale(100%));
            }
        }
    }

    &.blur {
        animation-name: blur;
        @include mixin.vendor('animation-name', blur);
        @keyframes blur {
            50% {
                filter: blur(5px);
                @include mixin.vendor('filter', blur(5px));
            }
        }
    }
    
    &.sepia {
        animation-name: sepia;
        @include mixin.vendor('animation-name', sepia);
        @keyframes sepia {
            50% {
                filter: sepia(100%);
                @include mixin.vendor('filter', sepia(100%));
            }
        }
    }
    
    &.hue-rotate {
        animation-name: hue-rotate;
        @include mixin.vendor('animation-name', hue-rotate);
        @keyframes hue-rotate {
            50% {
                filter: hue-rotate(150deg);
                @include mixin.vendor('filter', hue-rotate(150deg));
            }
        }
    }
    
    &.invert {
        animation-name: invert;
        @include mixin.vendor('animation-name', invert);
        @keyframes invert {
            50% {
                filter: invert(0.8);
                @include mixin.vendor('filter', invert(0.8));
            }
        }
    }
    
    &.brightness {
        animation-name: brightness;
        @include mixin.vendor('animation-name', brightness);
        @keyframes brightness {
            50% {
                filter: brightness(0.5);
                @include mixin.vendor('filter', brightness(0.5));
            }
        }
    }
    
    &.contrast {
        animation-name: contrast;
        @include mixin.vendor('animation-name', contrast);
        @keyframes contrast {
            50% {
                filter: contrast(2);
                @include mixin.vendor('filter', contrast(2));
            }
        }
    }

    &.grayscale, &.blur, &.sepia, &.hue-rotate, &.invert, &.brightness, &.contrast {
        animation-duration: 3s;
        @include mixin.vendor('animation-duration', 3s);
        animation-iteration-count: infinite;
        @include mixin.vendor('animation-iteration-count', 'infinite');
    }

    border-radius: 45%;
    width: 300px;
}
