$font-stack: Helvetica, sans-serif;
$primary-color: #333;

$num_col: 12;

$header-color: rgb(116, 176, 240);
$menu-li-background-color: rgb(46, 0, 139);
$menu-li-color: chartreuse;
$menu-li-background-color-hover: rgb(88, 41, 183);
